h1{
  text-align:center;margin:0;
}
h2{
  font-size: 20px;
  text-align:center;
  margin:0;
}
html{
  background-color:#FFFBDB;
  color:black;
  font-family:serif;
}
.button{
  background-color:#FFFBDB;
  color:black;
  text-decoration:none;
  text-align:center;
  border:none;
}
button:hover{
  background-color: #FFEC51;
  text-align:center;
  color:black;
  text-decoration:none;
  border-radius: 12.5%;
  height: 32.5px;
  width: 75px;
  border:none;
}
