p{
  color:red;
  text-align: center;
}

h1{
  font-style:italic;
  font-size: 200%;
}
p::first-letter{
  font-size:300%;
}
#test-id-1{
  color:purple;
}

.test-class{
  color:orange;
  text-shadow: 5px 5px red;
}

a:hover{
  color:white;
}
