h1{
  text-align:center;margin:0;
}
h2{
  font-size: 20px;
  text-align:center;
  margin:0;
}
html{
  background-color:#FFFBDB;
  color:black;
  font-family:serif;
}
.button{
  background-color:#FFFBDB;
  color:black;
  border: none;
  font-size: 20px;
  text-align:right;
}
button:hover{
  background-color:#FFEC51;
  color:black;
}
